<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="<%= url("style.css") %>" type="text/css">
  <title>About Us | MakersBnB</title>
</head>
<body>
  <nav class="navbar navbar-light" style="background-color: rgba(255, 255, 255, 0.3);">
    <img src="./images/bed-and-breakfast.svg" class="change-my-color-size">
    <a class="navbar-brand logo" href="../" style="color: white">MakersBnB</a>
    <ul class="navbar-nav ml-auto">
      <li class="navbar-item">
        <a class="navbar-link nav-right" href="./about-us">About</a> 
        <a class="navbar-link nav-right" href="../user/login">Login</a>
      </li>
    </ul>
  </nav>
  <div class="row justify-content-center">
    <h1 class="about-us-title fade-in">About Us</h1>
    </div>
  <div id="wrapper" class="container-fluid">
    <div class="row justify-content-center">
  <p class="p-5">We believe that as part of being a Maker at MakersBnB the most important thing you can do is. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <img class="about-img" src="./images/isometric_holiday2.jpeg" alt="About Us Makers BnB">
  </div>
  </div>
  </html>