<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="<%= url("style.css") %>" type="text/css">
  <title>About Us | MakersBnB</title>
</head>
<body>
<div class="about-us-background"></div>
  <nav class="navbar navbar-light" style="background-color: rgba(255, 255, 255, 0.3);">
    <img src="./images/bed-and-breakfast.svg" class="change-my-color-size">
    <a class="navbar-brand logo" href="../" style="color: white">MakersBnB</a>
    <ul class="navbar-nav ml-auto">
      <li class="navbar-item">
        <a class="navbar-link nav-right" href="./listing">Listings</a> 
        <a class="navbar-link nav-right" href="../user/login">Login</a>
      </li>
    </ul>
  </nav>
    <h1 class="about-us-title fade-in">About Us</h1>
  <div id="wrapper" class="container-fluid">
  <p>Hello this is an about me</p>
  <img src="./images/isometric_holiday.jpeg" alt="About Us Makers BnB">
  </div>
  </html>