<h1> Feel at home, anywhere </h1>
<h2>Sign up to MakersBnB </h2>


<form action="/signup" method ='post'>
      <input type="username" name="username" placeholder="Enter Username" />
      <input type="email" name="email" placeholder="Enter Email" />
      <input type="password" name='password' placeholder="Enter Password" />
      <input type="password" name="password confirmation" placeholder="Re enter your password" />
      <input type='submit' value="Sign up">
    </form>

