<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Makers BnB</title>
</head>
<body>

  <div class="booking-wrapper">
    <h4><%= @listing.name %></h4><br>
    <p><%= @listing.description %></p><br>
    <p>£<%= @listing.price %></p>

    <form action="/listing/<% @listing.id %>" method="get">
      <input type="submit" value="Request to book">
    </form>
  </div>

</body>
</html>