<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="<%= url("style.css") %>" type="text/css">
  <title>Listings | MakersBnB</title>
</head>
<body>
  <nav class="navbar navbar-light" style="background-color: rgba(255, 255, 255, 0.3);">
    <img src="../images/bed-and-breakfast.svg" class="change-my-color-size">
    <a class="navbar-brand logo" href="../" style="color: white">MakersBnB</a>
    <ul class="navbar-nav ml-auto">
      <li class="navbar-item">
        <a class="navbar-link nav-right" href="../about-us">About</a> 
        <a class="navbar-link nav-right" href="../user/login">Login</a>
      </li>
    </ul>
  </nav>
  <div id="wrapper" class="r-flex justify-content-center">
    <div class="container justify-content-center">
      <h4 class="pt-5"><%= @listing.name %></h4><br>
      <p><%= @listing.description %></p><br>
      <p>£<%= @listing.price %> - Per Night</p>
    </div>
    <div class="container ">
    <form action="/listing/<% @listing.listing_id %>" method="get">
    <label for="trip-date" class="mt-3">Select A Date:</label>
    <input class="form-control" type="date" id="start" name="trip-date"
       value="2021-04-29"
       min="2021-04-29" max="2021-12-31">
    <form action="/booking" method="post">
      <input type="submit"  class="btn btn-primary mx-auto" value="Request to book">
    </form>
    </div>
</body>
</html>