<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="<%= url("style.css") %>" type="text/css">
  <title>Listings | MakersBnB</title>
</head>
<body>
  <nav class="navbar navbar-light" style="background-color: rgba(255, 255, 255, 0.3);">
    <a class="navbar-brand logo" href="../" style="color: white">MakersBnB</a>
    <ul class="navbar-nav ml-auto">
      <li class="navbar-item">
        <a class="navbar-link nav-right" href="#">About</a> 
        <a class="navbar-link nav-right" href="../user/login">Login</a>
      </li>
    </ul>
  </nav>
<body>
  <h2>Create a new listing</h2>

    <form action="/listing/new" method="post">
      <input type="text" name="name" placeholder="title" />
      <input type="text" name="description" placeholder="Description of your place" />
      <input type="number" name="price" placeholder="price" />
      <input type="submit" value="Submit">
    </form>
</body>
</html>
