<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MakersBnB | Challenge</title>
</head>
<body>
  <h2>Create a new listing</h2>

    <form action="/listing/new" method="post">
      <input type="text" name="name" placeholder="title" />
      <input type="text" name="description" placeholder="Description of your place" />
      <input type="number" name="price" placeholder="price" />
      <input type="submit" value="Submit">
    </form>
</body>
</html>
